body {
    direction: rtl;
    text-align: right;
}
#back-about{
    background-image: url("../img/aboutMe/درباره ما.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: inherit;
    height: 500px;
    color: white;
}
#back-aboutME{
    background-image: url("../img/aboutMe/IMG_6990.JPG");
    background-position: center;
    background-size: cover;
    height: 400px;
}
#back-info{
    background-image: url("../img/aboutMe/دفتر ما.JPG");
    background-size: cover;
    background-attachment:fixed ;
    background-position: center;
    opacity: 0.9;
}



#P_Profile{
    height: 800px;
}
#P_Profile>div{
    border-radius: 20px;
}

